# app
FST_APP__APP__TITLE=Name projects

# logging
FST_APP__LOGGING__LEVEL=INFO

# database
FST_APP__DATABASE__USERNAME=postgres
FST_APP__DATABASE__PASSWORD=secret
FST_APP__DATABASE__HOST=localhost
FST_APP__DATABASE__PORT=5432
FST_APP__DATABASE__DATABASE=fst
FST_APP__DATABASE__SQLA__ECHO=True
