# app
FST_APP__APP__TITLE=Name projects

# logging
FST_APP__LOGGING__LEVEL=INFO

# database
FST_APP__DATABASE__DB_DATABASE=example
FST_APP__DATABASE__DB_USER=postgres
FST_APP__DATABASE__DB_PASSWORD=secret-password
FST_APP__DATABASE__DB_HOST=localhost
FST_APP__DATABASE__DB_PORT=5432
FST_APP__DATABASE__db_echo=True
